.Intro{
    padding-top: 70px;
    color: white;
    height: 250px;
    background-image: url("https://wallpapers.com/images/hd/red-and-black-background-tsx7n87ejbnj3rvt.jpg");
}
h1,h2,h3,p,form{
    text-align: center;
}
h1{
    background-color: brown;
}
.platform{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 15px solid brown;
    padding: 50px;
    margin: 5px;

}
figcaption{
    background-color: brown;
    border: 5px solid white;
}
.game,.ac,.bb{
    display: flex;
    max-width: 100%;
   
}
.sec1,.sec2,#about,#contact,.vention,.project{
    width: 50%;
}
#contact{
    background-color: rgb(105, 53, 53)
}
#about{
    background-color:rgb(116, 18, 18);
}
.bb{
    background-color:cadetblue;
}







